# Dependencies
node_modules/
yarn-error.log

# Build output
dist/
build/

# Environment variables
.env
.env.*
!.env.example
env.example

# Configuration files with sensitive information
config.json

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Data directory
data/

# Testing
coverage/
.nyc_output/

/data
/dist
/wormhole

.cursor

/coverage

/logs
/data