/node_modules

/data
/dist
/logs

*.log

.env

.cursor

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Solidity files
solidity-files-cache.json

# TypeScript tooling
.eslintcache

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Test artifacts
temp_artifacts
test_artifacts

*.md
*.xml
*.diff
